 <!DOCTYPE html>
<html>
	<% include ../users/headerpartial %>
	</head>
<body>
	<nav id="topnav">
		<div class="dropdown navdisplay"><button class="dropbtn"> Work </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/eric/bass">G.H. Bass & Co</a>
			    <a href="/eric/tory">Tory Burch</a>
			    <a href="/eric/staGrnwch">STA Greenwich</a>
			    <a href="/eric/staNby">STA Newbury St</a>
			</div>
		</div>
		<div class="dropdown navdisplay"><button class="dropbtn"> About </button>
			<div class="dropdown-content">
		    <a href="/eric/resume">Resume</a>
		    <a href="/projects">Projects</a>
			</div>
		</div>
		<div class="dropdown navdisplay"><button class="dropbtn"><a class="link" href="/eric"> Home </a></button>
		</div>
		<div id="right" class="navdisplay dropdown"><button class="dropbtn">
			<a class="link" href="/eric/client"> log in | register </a></button>
		</div>
	</nav>

	<h1 class="welcome"><%= projects.projectName %> !</h1></br>
		
		<div id="projectul">
		<div class="projects">
			<div class='item'><div id='center'><%= projects.projectName %></div></div></br>
			<div class='item'><span> Quote:  </span><%= projects.quote %></div></br>
			<div class='item'><span> Start:  </span><%= projects.startDate %></div></br>
			<div class='item'><span> Estimated Timeline: </span><%= projects.timeline %></div></br>
			<div class='item'><span> Details:  </span><%= projects.details %></div></br>

		</div>
		</br>
	</div>

	</form>
	  <!--   <form action="/projects/<%= projects.id%>?_method=DELETE" method="DELETE"> -->
	    	 <form action="/projects/<%= projects.id%>" method="POST">
	    	<input type="hidden" name="_method" value="DELETE">
	      <button>delete me</button></br>
	    </form>
		</div>

<div id="footerdiv">
<footer>
	<% include ../users/footerpartial %>
</footer>
</div>
</body>
</html>