 <!DOCTYPE html>
<html>
	<% include ../users/headerpartial %>
	</head>
<body>
	<nav id="topnav">
		<div class="dropdown navdisplay"><button class="dropbtn"> Work </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/eric/bass">G.H. Bass & Co</a>
			    <a href="/eric/tory">Tory Burch</a>
			    <a href="/eric/staGrnwch">STA Greenwich</a>
			    <a href="/eric/staNby">STA Newbury St</a>
			</div>
		</div>
		<div class="dropdown navdisplay"><button class="dropbtn"> About </button>
			<div class="dropdown-content">
		    <a href="/eric/resume">Resume</a>
		    <a href="/projects">Projects</a>
			</div>
		</div>
		<div class="dropdown navdisplay"><button class="dropbtn"><a class="link" href="/eric"> Home </a></button>
		</div>
		<div id="right" class="navdisplay dropdown"><button class="dropbtn">
			<a class="link" href="/eric/client"> log in | register </a></button>
		</div>
	</nav>

	<h1 class="welcome"> Welcome, this is the show page for <%= projects[i].projectName %> !</h1></br>
	<p class="welcome">These are your projects: </p>
	<div id="projectul">
		<% for (var i= 0; i < projects.length; i++) { %>
		<div class="projects">
			<div class='item'><span> Quote:  </span><%= projects[i].quote %></div></br>
			<div class='item'><span> Start:  </span><%= projects[i].startDate %></div></br>
			<div class='item'><span> Estimated Timeline: </span><%= projects[i].timeline %></div></br>
			<div class='item'><span> Details:  </span><%= projects[i].details %></div></br>
			<!-- <div class="delete"><a class="link" href="/eric/delete">DELETE</a></div> -->
		</div>
		<% } %>
	</div>	

	<form action="/project/allprojects" method="DELETE"> 
			<input type="hidden" name="_method" value="DELETE">
			<button id="delete-button">Delete Me</button>
</form>
<div id="footerdiv">
<footer>
	<% include ../users/footerpartial %>
</footer>
</div>
</body>
</html>