
<!DOCTYPE html>
<html>
	<% include ./headerpartial %>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
	</head>
<body>
	<nav>
		<div class="dropdown navdisplay"><button class="dropbtn"> Work </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/eric/bass">G.H. Bass & Co</a>
			    <a href="/eric/tory">Tory Burch</a>
			    <a href="/eric/staGrnwch">STA Greenwich</a>
			    <a href="/eric/staNby">STA Newbury St</a>
			</div>
		</div>

		<div class="dropdown navdisplay"><button class="dropbtn"> About </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="#">Personal</a>
			</div>
		</div>

		<div class="dropdown navdisplay"><button class="dropbtn"><a class="link" href="/eric"> Home </a></button>
		</div>

		<div id="right" class="navdisplay dropdown"><button class="dropbtn">
			<a class="link" href="/eric/client"> log in | register </a></button>
		</div>
	</nav>
	<h1 class="welcome"> Welcome, <%= users.username %> !</h1></br>
	<p class="welcome">These are your projects: </p>

	<div id="projectul">
		<% for (var i= 0; i < users.project.length; i++) { %>
		<div class="projects">
			<div class='item'><div id='center'><%= users.project[i].projectName %></div></div></br>
			<div class='item'><span> Quote:  </span><%= users.project[i].quote %></div></br>
			<div class='item'><span> Start:  </span><%= users.project[i].startDate %></div></br>
			<div class='item'><span> Estimated Timeline: </span><%= users.project[i].timeline %></div></br>
			<div class='item'><span> Details:  </span><%= users.project[i].details %></div></br>
			<div id="actions">
				<div class="delete"><a class="link" href="/eric/delete">DELETE</a></div>
				<div class="update"><a class="link" href="/eric/<%= users.id %>/edit">UPDATE</a></div>
			</div>
		</div>
		</br>
		<% } %>
	</div>
<div class='newproject'>
<h1 class='new'>Add a new project</h1>
	<form action="/eric/<%= users.id %>/newproject" method="POST">
		<input type="text" name="projectName" placeholder="projectName"></br>
		<input type="text" name="startDate" placeholder="startDate"></br>
		<input type="text" name="quote" placeholder="quote"></br>
		<input type="text" name="timeline" placeholder="timeline"></br>
		<input type="text" name="details" placeholder="details"></br>
		<input type="submit">
	</form>
</div>
		<div class="update"><a class="link" href="/eric/<%= users.id %>/edit">Update</a></div></br>
 		<div class="logout"><a class="link" href="/eric/logout">Logout</a></br></div>
<footer>
<nav>
	<% include ./footerpartial %>
</nav>
</footer>
</body>
</html>