<!DOCTYPE html>
<html>
	<% include ./headerpartial %>
<body>
	<nav>
		<div class="dropdown navdisplay"><button class="dropbtn"> Work </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="#">G.H. Bass & Co</a>
			    <a href="#">Tory Burch</a>
			    <a href="#">STA</a>
			</div>
		</div>

		<div class="dropdown navdisplay"><button class="dropbtn"> About </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="#">Personal</a>
			</div>
		</div>

		<div class="dropdown navdisplay"><button class="dropbtn"><a class="link" href="/eric"> Home </a></button>
		</div>


		<div id="right" class="navdisplay dropdown"><button class="dropbtn">
			<a class="link" href="/eric/client"> log in | register </a></button>
		</div>
	</nav>
	<h1>this is the users show page</h1>
	<div>
		<p>This is your id: <%= users.id %></p></br>
		<p>This is your name: <%= users.username %></p></br>
		<p>This is your email: <%= users.email %></p></br>
		<p>This is your password: <%= users.password %></p></br>
	</div>
	<div>
		<% for (var i= 0; i < users.projects.length; i++) { %>
		<p>These are your projects: <%= users.projects[i] %></p></br>
		<% } %>
	</div>
		<div class="update"><a class="link" href="/eric/<%= users.id %>/edit">Update</a></div></br>
		<div class="logout"><a class="link" href="/eric/logout">Logout</a></br></div>

<footer>
<nav>
	<% include ./footerpartial %>
</nav>
</footer>
</body>
</html>